<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play Tetris</title>
    <link rel="stylesheet" href="/game.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="game-text">
        <span>게임 종료</span>
        <button>다시 시작</button>
      </div>
      <a class="sns" href="/">SNS</a>
      <div class="score">0</div>
      <div class="playground">
        <ul></ul>
      </div>
    </div>
    <script src="/tetris.js" type="module"></script>
    <script>
      document.getElementById("sns").addEventListener("click", function () {
        window.location.href = "/";
      });
    </script>
  </body>
</html>
